body {
 background-image: url("https://wallpaperaccess.com/full/752715.jpg");
 color: white;
}
p {
 background-color: #272727;
 color: white;
 text-align: center;

}

p a {
  display: block;
  color: white;
  background-color:#272727; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius:20%;
  border: 2px solid #272727;
}

p a:hover {
  background-color: #272727;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 48%;
    padding:1%;
    display:flex;
    align-content: center;
    justify-content: center;
}
.content {
  position: relative;
    
}