body {
 background-image: url("https://wallpaperaccess.com/full/752715.jpg");
 color: white;
}
p {
 background-color: #272727;
 color: white;
 text-align: center;

}

.button {
  display: block;
  color: white;
  background-color:black; 
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

.button:hover {
  background-color: #272727;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}
.column {
    background-color:#272727;
    width: 48%;
    padding:1%;
}

.container{
    background-color:#272727;
    width:900px;
    height:500px;
    opacity:75%;
    display:grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 100px 100px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
}
.grid-item {
  padding: 20px;
  text-align: center;
  height:20px;
}