body {
 background-color: #121212;
 color: #121212;
}
h1 {
 color: white;
 text-align: center;
 font: italic 150% fantasy;
}
h2 {
 color: white;
 text-align: center;
 font: italic 150% fantasy;
}
p {
 background-color: #121212;
 color: white;
 text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.text_center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #121212;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #272727;
}