/* webpagestyle.css */
body {
 background-color: black;
 color: #FFFFFF;
}
h1 {
 color: #FFFF33;
 text-align: center;
 font: italic 200% fantasy;
}
p {
 background-color: #FFFF33;
 color: #333300;
 text-align: center;
 border: 3px groove #FFFF33;
}
{
    box-sizing: border-box;
}
 .column {
    float: left;
    width: 48%;
    padding:1%;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}
h2 {
    font-size: 22px;
    color: #FFFF33;
    text-align: center;
}
h3 {
    font-size: 22px;
}

.collapsible {
  background-color: yellow;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: middle;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: lightgoldenrodyellow;
}
.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: lightgoldenrodyellow;
  max-height: 0;
  transition: max-height 0.3s ease-out; 
}

.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}