/* webpagestyle.css */
body {
 background-color: #121212;
 color: #121212;
}
h1 {
 color: white;
 text-align: center;
 font: italic 200% fantasy;
}
p {
 background-color: #272727;
 color: white;
 text-align: center;
}
{
    box-sizing: border-box;
}
 .column {
    float: left;
    width: 48%;
    padding:1%;
    display:flex;
    align-content: center;
    justify-content: center;
}
.row:after {
    content:"";
    display: table;
    clear: both;
}
h2 {
    font-size: 22px;
    color: white;
    text-align: center;
}
h3 {
    font-size: 22px;
}

.collapsible {
  background-color: #272727;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #272727;
}
.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #272727;
  max-height: 0;
  transition: max-height 0.3s ease-out; 
}

.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}
.imdb-logo {
  font: 2em/1 Impact, HelveticaNeue-CondensedBold, sans-serif; 
  font-size: 15px;
  color: #000;
  text-shadow: 0 0 .15em #fff;
  text-decoration: none;

  display: inline-block;
  vertical-align: bottom;
  padding: .25em .35em;
  border-radius: .15em;
  background: radial-gradient(#ffffb8, #ce981d);
    
  &:hover {
    background: radial-gradient(lighten(#ffffb8, 10%), lighten(#ce981d, 10%));
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #121212;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #272727;
}
